mixin titles(title)
    title=title 

mixin style-head(style)
    link(rel="stylesheet", href="../css/"+style)

mixin style-head-responsive(stylesResponsive, screen) 
    link(rel="stylesheet", href="../css/"+stylesResponsive media="screen and (min-width:" +screen+"px)")

mixin figure-img(srcImg, altImg)
    figure(class!=attributes.class)
        img(src="https://drive.google.com/uc?id="+srcImg, alt=altImg)

mixin logo-batabit 
    div(class!=attributes.class).logo-container
        figure(tabindex="0" aria-label="Batabit icon").logo__batata-icon
            svg(viewBox="0 0 41 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M16.8906 20.2838C10.4673 22.281 0.0927203 20.2399 0.000572001 11.3449C-0.0915763 2.44983 10.9806 7.74852 10.9806 7.74852L16.8906 20.2838Z" fill="#FFC250")
                path(d="M3.12366 6.35426C7.60662 5.58608 11.0114 11.5265 14.7783 17.7232C18.5452 23.92 28.3542 26.3762 34.6218 21.165C40.8894 15.9539 43.542 6.82713 35.8465 1.38317C28.1509 -4.06079 23.3471 8.29872 16.7221 8.63845C10.0972 8.97819 10.0489 4.05367 3.12366 6.35426Z" fill="#FFD064")
                circle(cx="35.1972" cy="11.6219" r="1.96745" fill="#FFE19D")
                circle(cx="31.4263" cy="13.0974" r="1.47559" fill="#FFE19D")
                circle(cx="34.0495" cy="15.0648" r="1.14768" fill="#FFE19D")
        p.logo__title Batabit

mixin batabit-icon
    figure(class!=attributes.class tabindex="0" aria-label="Batabit icon")
        svg(viewBox="0 0 41 24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M16.8906 20.2838C10.4673 22.281 0.0927203 20.2399 0.000572001 11.3449C-0.0915763 2.44983 10.9806 7.74852 10.9806 7.74852L16.8906 20.2838Z" fill="#FFC250")
            path(d="M3.12366 6.35426C7.60662 5.58608 11.0114 11.5265 14.7783 17.7232C18.5452 23.92 28.3542 26.3762 34.6218 21.165C40.8894 15.9539 43.542 6.82713 35.8465 1.38317C28.1509 -4.06079 23.3471 8.29872 16.7221 8.63845C10.0972 8.97819 10.0489 4.05367 3.12366 6.35426Z" fill="#FFD064")
            circle(cx="35.1972" cy="11.6219" r="1.96745" fill="#FFE19D")
            circle(cx="31.4263" cy="13.0974" r="1.47559" fill="#FFE19D")
            circle(cx="34.0495" cy="15.0648" r="1.14768" fill="#FFE19D")

mixin arrow 
    figure(class!=attributes.class).arrow
        svg(viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M1.91 0.590027L6.5 5.17003L11.09 0.590027L12.5 2.00003L6.5 8.00003L0.5 2.00003L1.91 0.590027Z" fill="#201E1C")

mixin arrow-right-orange 
    figure.arrow-right-orange
        svg(viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M8.70711 0.292893C8.31658 -0.0976309 7.68342 -0.0976309 7.29289 0.292893C6.90237 0.683418 6.90237 1.31658 7.29289 1.70711L12.5858 7H1C0.447715 7 0 7.44772 0 8C0 8.55229 0.447715 9 1 9H12.5858L7.29289 14.2929C6.90237 14.6834 6.90237 15.3166 7.29289 15.7071C7.68342 16.0976 8.31658 16.0976 8.70711 15.7071L15.7064 8.70782C15.7088 8.70541 15.7112 8.70298 15.7136 8.70055C15.8901 8.52079 15.9992 8.27463 16 8.003C16 8.002 16 8.001 16 8C16 7.999 16 7.998 16 7.997C15.9996 7.8625 15.9727 7.73425 15.9241 7.61722C15.8764 7.50195 15.8063 7.3938 15.7136 7.29945C15.7112 7.29705 15.7089 7.29466 15.7065 7.29228M8.70711 0.292893L15.7065 7.29228Z" fill="#F7931A")

mixin treding-up-arrow
    figure.trending-up-arrow-image.trending-arrow
        svg(viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M11.5 3L6.75 7.75L4.25 5.25L0.5 9" stroke="#07D635" stroke-linecap="round" stroke-linejoin="round")
            path(d="M8.5 3H11.5V6" stroke="#07D635" stroke-linecap="round" stroke-linejoin="round")

mixin treding-down-arrow
    figure.trending-down-arrow-image.trending-arrow
        svg(viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M11.5 9.5L6.75 4.75L4.25 7.25L0.5 3.5" stroke="#F5450D" stroke-linecap="round" stroke-linejoin="round")
            path(d="M8.5 9.5H11.5V6.5" stroke="#F5450D" stroke-linecap="round" stroke-linejoin="round")

mixin table-price-coin(type, date, arrow)
    .currency-table-container
        if arrow=="true"
            p.currency-table__type=type
        else 
            p.currency-table__type.currency-table__type--blue=type
        +table-coins-comisions(arrow)
        if arrow=="true"
            p.currency-table__update 
                strong Actualizado
                span : #{date}
        else 
            p.currency-table__update.currency-table__update--blue 
                strong Actualizado
                span : #{date}

mixin table-coins-comisions(arrow)
    .currency-table 
        .currency-table__type-coin
            .currency-table__coin-container
                p.currency-table__coin Bitcoin
            .currency-table__coin-container    
                p.currency-table__coin Ethereum
            .currency-table__coin-container    
                p.currency-table__coin Ripple
            .currency-table__coin-container    
                p.currency-table__coin Stellar

        if arrow=="true"
            .currency-table__price-arrow-container
                .currency-table__price-arrow
                    p.currency-table__price $1.92
                    +treding-down-arrow
                .currency-table__price-arrow
                    p.currency-table__price $0.07
                    +treding-up-arrow
                .currency-table__price-arrow
                    p.currency-table__price $2.15
                    +treding-down-arrow
                .currency-table__price-arrow
                    p.currency-table__price $4.96
                    +treding-down-arrow
        else 
            .currency-table__type-coin
                .currency-table__price-arrow
                    p.currency-table__comision $12.96
                .currency-table__price-arrow
                    p.currency-table__comision $13.07
                .currency-table__price-arrow
                    p.currency-table__comision $13.15
                .currency-table__price-arrow
                    p.currency-table__comision $14.96

mixin product-details-card(srcImg, altImg, title, info)
    article.product-detail__card
        +figure-img(""+srcImg, ""+altImg).product-detail__card-icon
        h3.product-detail__card-title=title 
        p.product-detail__card-info.subtitle=info 

mixin plan-card(recomendado, typePay, price, details)
    article.plans-container__card
        if recomendado=="true"
            p.plans-container__card-recomended Recomendado 
        p.plans-container__card-type-pay=typePay
        .plans-container__card-price-container
            span.card-price-container__dollar-sign $
            h2.plans-container__card-price=price
        p.plans-container__card-details=details 
        button.plans-container__card-call-to-action 
            span Escoger este 
            +arrow-right-orange 

mixin faq-item(question, answer)
    .faq__item-container 
        p.faq__item-question=question
        +arrow.faq__item-arrow 
        p.faq__item-answer=answer

